body {
	background-image: url(../images/back.jpg);
	margin: 0;
}
.header-tw {
	margin-bottom: 30px;
}
.header-tw__title {
	background-color: cyan;
	text-align: center;
	padding: 50px;
	margin: 0;
	text-shadow: 3px 3px gold;
	font-size: 4em;
}
/*COLUMNA IZQUIERDA*/
.create__title {
	font-size: 2em; 
}
.create__box {
	background-color: pink;
	width: 500px;
	padding: 10px 95px 50px;
	margin: 10px auto;
	border: 2px solid magenta;
}
.create__message {
	width: 300px;
}
.create__img {
	width: 100px;
	float: left;
	padding-right: 20px;
}

/*COLUMNA DERECHA*/
.tweets__box {
	background-color: lightgrey;
	margin: 10px auto;
	padding: 20px;
	border: 2px solid black;
	width: 500px;
}
.tweets__img {
	margin-right: 20px;
	width: 100px;
	float: left;
	border-radius: 50%;
}
.tweets__txt {
	margin: 10px;
}
.tweets__like {
	color: black;
}
.tweets__like:hover {
	color: magenta;
	text-decoration: none;
}
.tweets__like--red {
	color: magenta;
}
.delete__submit {
	margin-left: 20px;
}
.delete__submit:hover {
	color: magenta;
	background-color: black;
}